@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #140c13;
  color: white;
}

#mouse-circle {
  position: absolute;
  background-image: radial-gradient(
          circle,
          rgb(231, 76, 60) 0%,
          rgba(35, 12, 19, 0.1) 70%,
          rgba(12, 12, 12, 1) 90%
  );
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: transform 0.1s ease;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
}

body:hover #mouse-circle {
  animation: pulse 6s infinite;
}
