.text-neon-green {
  color: #39ff14;
}

.text-neon-pink {
  color: #ff007f;
}

.bg-neon-blue {
  background-color: #00f0ff;
}

.bg-neon-blue-dark {
  background-color: #00c4cc;
}

.bg-neon-yellow {
  background-color: #ffff00;
}

#mouse-circle {
  position: absolute;
  background-image: radial-gradient(circle, #e56263 0%, #140c13 80%);
  transform: translate(-50%, -50%);
  /* opacity: 0.5; */
  pointer-events: none;
  transition: transform 0.1s ease;
}

body:hover #mouse-circle {
  animation: pulse 6s infinite;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
